.page {
  background-color: #FCF5E5;
  min-height: 100vh;
  font-family: Poppins, Arial, Helvetica, sans-serif;

}

.page__section {
  background-color: #FCF5E5;
  max-width: 1290px;
  margin: 0 auto;
}

